/* The main working style sheet for this project */

/* TODO list CSS:
Trouver et importer police d'écriture pour les gros titres et pour les paragraphes (google font, etc)

Définir le jeu de couleurs à utiliser

Reformater les images pour rendre la page navigable pendant le dev

Faire une disposition de base des éléments:
- Header: Aligner les éléments pour être en accord avec le wireframe et le garder toujours visible
Rendre toujours visible
- Musique: Réduire les lecteurs et les disposer comme dans le wireframe
- Vidéos: idem
- Galerie: Trouver comment faire un carrousel
- Transitions: Mettre Texte devant image et trouver bonne couleurs pour texte
- Evenements: Aligner les boutons à droite en face du texte
- Formulaire: Faire un joli cadre et aligner les éléments
- Aligner la carte et infos de déplacement à droite du formulaire
- Footer: Aligner les éléments pour être en accord avec le wireframe et le garder toujours visible */

body{
	margin:0%;
	padding: 0%;
	font-family: 'Roboto', sans-serif;
	background-color: #F5F5F5;
}
/*Header*/

header{
	position: fixed;
	background-color: #2D1711;
	height: 15%;
	width: 100%;
}

nav{
		display: flex;
}

.socials ul {
	display:flex;
	flex-direction:row;
	list-style: none;
	font-size:xx-large;
	/* justify-content: space-between; */
	/* width: 20%; */
}

.anchors {
	display: flex;
	font-size: 25px;
	justify-content: space-between;
	margin: 0;
}

/*intro*/
/*utiliser float pour img.*/
.intro {
	background-image: url("../img/band-main-pic.jpg");
	background-size: cover;
	color: #F5F5F5;
	width: 100%;
	height: 35em;
	margin-bottom: 5%;
	font-size: larger;
	text-align: justify;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

h1{
	font-family: 'Kanit', sans-serif;
	font-size: xxx-large;
	text-align: center;
}
/*Musique*/
.embedded {
	background-color: #716969;
	display: grid;
	margin-bottom: 2%;
	grid-template-areas:"a b";
	margin:5%;
}
/*transition*/
.transition img {
	background-image: url("../img/live-bright.jpg");
	background-size: cover;
	width: 100%;
	height: 50em;
	/*margin-bottom: 5%;*/
    font-size: 110%;
}
/*titre h2 a faire*/
/*.transition h2 {
	text-align: center;

}*/

/*events*/
.events {
	background-color: #B84300;
}
.embedded img {
	display: grid;
	margin-bottom: 2%;
	grid-template-areas:"a b";
	margin:5%;
	width: 100%;
	height: 100%;
	/*h2 a faire contact*/
}


/*gallery*/
.gallery img {
	width: 50%;
	height: 50%;
	/*carousel à faire JS*/
}

/* join me */
.joinme {
	/* display: flex;
	flex-direction: row;
	justify-content: space-around; */
	display: grid;
	grid-template-columns: 1fr 2fr;
	background-color: #096B72;
  }

.joinme form{
	display: flex;
	flex-direction: column;
	margin: 2%;
	/* width: 50%;
	justify-content: flex-start;
	align-content: space-between; */
    /*grid-gap: 1em;
    padding: 1em; */
}

.joinme label{
	margin: 0 0 0 1%;
}

.joinme input, textarea{
	margin: 1%;
}

/*find me*/
.findme {
	background-color: #1B998B;
	margin: 2%;
	padding: 2%;
	/* display: grid;
	grid-template-areas:"a b"; */
	/* word-wrap:break-word; */
}

.findme iframe{
	float: right;
}

/*span {
  display: block;
  border: 1px solid rebeccapurple; faire carrer exemple de code
}*/

footer{
	background-color: #EE7B30;
}

