.joinme {
	background-color: #096B72;
	display: grid;
	grid-template-columns: 1fr 2fr;

	form {
		display: flex;
		flex-direction: column;
		margin: 2%;

		label {
			margin: 0 0 0 1%;
		}

		input,
		textarea {
			margin: 1%;
		}
	}

	.findme {
		background-color: #1B998B;
		margin: 1.5em;
		padding: 1.5em;

		iframe {
			border:0;
			float: right;
			height:100%;
			width:50%;
		}
	}
}
