.joinme {
	/* display: flex;
	flex-direction: row;
	justify-content: space-around; */
	display: grid;
	grid-template-columns: 1fr 2fr;
	background-color: #096B72;
  }

.joinme form{
	display: flex;
	flex-direction: column;
	margin: 2%;
	/* width: 50%;
	justify-content: flex-start;
	align-content: space-between; */
    /*grid-gap: 1em;
    padding: 1em; */
}

.joinme label{
	margin: 0 0 0 1%;
}

.joinme input, textarea{
	margin: 1%;
}
