// TODO Aligner les éléments pour être en accord avec le wireframe et le garder toujours visible
// Rendre toujours visible

header {
	background-color: #2D1711;
	display: flex;
	font-size: large;
	height: 15%;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	z-index: 99;
}

nav {
	width: 100%;

	ul {
		/* width: 700px;
		margin-left: 200px; */
		display: flex;
		justify-content: space-between;
		list-style: none;
		/* font-size:xx-large; */
		/* width: 20%; */
	}
}

.socials {
	float: right;
	list-style-type: none;
	/* font-size: large; */
}
