// TODO Aligner les éléments pour être en accord avec le wireframe et le garder toujours visible
// Rendre toujours visible

header {
	background-color: #2D1711;
	display: grid;
	font-size: large;
	grid-template-columns: 3fr 1fr;
	height: 3.5em;
	position: fixed;
	width: 100%;
	z-index: 99;

	nav {
		ul {
			display: flex;
			font-size: x-large;
			justify-content: space-around;
			list-style: none;

			a {
				color: whitesmoke;
				text-decoration: none;
			}
		}
	}

	.socials {
		ul {
			display: flex;
			font-size: x-large;
			justify-content: space-around;
			list-style: none;
			padding-left: 5em;

			a {
				color: whitesmoke;
			}
		}
	}
}
