// TODO - Transitions: Mettre Texte devant image et trouver bonne couleurs pour texte

.intro {
	background-image: url("../img/band-main-pic.jpg");
	background-size: cover;
	color: #F5F5F5;
	width: 100%;
	height: 35em;
	margin-bottom: 5%;
	font-size: larger;
	text-align: justify;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.transition img {
	background-image: url("../img/live-bright.jpg");
	background-size: cover;
	width: 100%;
	height: 50em;
	/*margin-bottom: 5%;*/
	font-size: 110%;
}
