// TODO - Transitions: Mettre Texte devant image et trouver bonne couleurs pour texte

%transition{
	background-size: cover;
	color: #F5F5F5;
	display: flex;
	flex-direction: column;
	font-size: larger;
	height: 35em;
	justify-content: center;
	margin-bottom: 5%;
	text-align: center;
	width: 100%;
}


.intro {
	@extend %transition;
	background-image: url("../img/band-main-pic.jpg");
}

.transition1{
	@extend %transition;
	background-image: url("../img/live-bright.jpg");
	color: #2D1711;
}

.transition2{
	@extend %transition;
	background-image: url("../img/live-landscape-06.jpg");
}
