.btn-nav {
	font-size: 50px;
	margin: 0 15px;
	cursor: pointer;
}

.cont-btn {
	width: 100%;
	height: auto;
	border: 5px solid #000;
	box-shadow: 0 10px 10px rgba(0,0,0,0.3);
	display: flex;
	justify-content: center;
}
