.btn-nav {
	cursor: pointer;
	font-size: 50px;
	margin: 0 15px;
}

.cont-btn {
	align-content: center;
	border: 1px solid #000;
	box-shadow: 0 10px 10px rgba(0,0,0,0.3);
	display: flex;
	height: auto;
	justify-content: center;
	margin: auto;
	width: 50%;
}
