.gallery img {
	display: none;
	height: 50%;
	margin: 0 auto;
	padding: 50px;
	width: 50%;
}

img.active {
	animation: fade 0.2s;
	display: block;
}
@keyframes fade {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
