// TODO
// - Vidéos: Getting the videos to occupy fully the space inside their container


%embedded {
	display: grid;
	grid-template-columns: 1fr 1fr;
	border: solid thick;

	iframe{
		border: solid medium;
	}
}

.embeddedmusic{
	@extend %embedded;

	iframe{
		width: 100%;
	}

}

.embeddedvideo{
	@extend %embedded;
	iframe{
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
